@charset "utf-8";

/* 제주여행 Page banner */

.bannerWrap .bn{
    display: block;
    width:100%; 
    height:60vh;
    object-fit: cover;
    position: relative;
}

.bannerWrap .titleWrap{
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    top: 25vh;
}

.bannerWrap .titleWrap h4{
    font-family: 'Noto Serif KR', serif;
    font-size: 25px;
    font-weight: 600;
    color: white;
    text-align: center;
    letter-spacing: 5px;
}


.bannerWrap .titleWrap h2{
    font-family: 'Noto Serif KR', serif;
    font-size: 90px;
    font-weight: 600;
    color: white;
    text-align: center;
    letter-spacing: 5px;
}


/* MAIN */
.searchWrap{
    margin-top: 30px;
    text-align: center;
    /* letter-spacing: 2px; */
}

.searchWrap p{
    margin: 20px 0;
    letter-spacing: 0.3px;
    font-weight: 300;
}

.searchBar{
    position: relative;
    margin: 0 auto;
    width: 600px;
    height: 60px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.searchBar .serchInput{
    width: 100%;
    height: 100%;
    border: solid 1px #D5D5D5;
    font-size: 20px;
    font-family: 'Noto Serif KR', serif;
    padding-right: 50px;
    padding-left: 10px;
}

.searchBar input.button-add {
    background: url( "../images/icon/search.png" ) no-repeat;
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer; 
    position: absolute;  
    display: block;
    right: 10px;
    top: 50%;
    transform:translateY(-50%);
    background-size: cover;
}

