@charset "UTF-8";
/* Join Page */

.joinWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    width: 900px;
    font-family: 'Noto Serif KR', serif;
}

.joinWrap .logo img{
    width: 350px;
    height: 80px;
    object-fit: contain;
}

.joinBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.joinBox .itemBox{
    position: relative;
    margin-bottom: 20px;
}

.joinBox .itemBox input{
    width: 380px;
    height: 45px;
    border: 1px solid #D5D5D5;
    border-radius: 5px;
    padding-left: 35px;
}

.joinBox .itemBox img{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 5px;
    bottom: 50%;
    transform: translateY(50%);
}

.joinBox #join{
    width: 380px;
    height: 45px;
    background-color: #EEC06C;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    letter-spacing: 2px;
} 

.joinBox .textWrap{
    margin-bottom: 15px;
    
}

.joinBox .textWrap p{
    font-size: 12px;

}
.joinBox .genderBox input[type=radio]{
   display:none;
}
.joinBox .genderBox{
    width: 380px;
    height: 45px;
    border: 1px solid #D5D5D5;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 5px;
    font-family: Arial, sans-serif;
}
.joinBox .genderBox ul{
    display: flex;
    justify-content: space-between;
}

.joinBox .genderBox ul li{
    flex-grow: 1;
    border: 1px solid #D5D5D5;
    padding: 5px;
    cursor:pointer;
    text-align:center;
}
.genderBox ul li.active{
    border: 1px solid #EEC06C;
   color:white!important;
   background-color: #EEC06C;
   font-weight:bold;
}
#join{
   cursor:pointer;
}